<h1>Dashboard#index</h1>
<%= link_to 'Команды', teams_url %>
<% if can? :manage, :all %>
  <%= link_to 'Новая команда', new_team_url %>
  <% end %>
<%= link_to 'Проекты', projects_url %>
<%= link_to 'Новый проект', new_project_url %>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.first_name %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
