<h1>Main Page</h1>
<%= link_to 'Teams', teams_url %>
<%= link_to 'Projects', projects_url %>
<%= link_to 'Posts', posts_url %>
<%= link_to 'Tasks', tasks_url %>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.first_name %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
