<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Main Page<span class="sr-only"></span></a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="/posts">Posts</a></li>
        <li class="active"><a href="/tasks">Tasks</a></li></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><% if user_signed_in? %>
    <p class="navbar-text">Welcome, <%= current_user.first_name %></p>
<% end %></li>
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to 'Exit', destroy_user_session_path, :method => :delete %>
<% else %></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Estimations:</strong>
  <%= @task.estimations %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project['name'] %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user['email'] %>
</p>
<% if can? :manage, :all %>
<%= link_to 'Edit|', edit_task_path(@task) %>
<%end%> 
<%= link_to 'Back', tasks_path %>
