<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user['first_name'] %>
</p>

<p>
  <strong>Project:</strong>
  <%= @post.project['name'] %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Main Page', root_path %>
<h1>Comments</h1>
	<div>
	  <%= render :partial => @post.comments %>
	</div>
	  <%= simple_form_for [@post, Comment.new] do |f| %>
	    <p>

	    	<%= f.input :body, :label => "New Comment", as: :text, input_html:
	    		{ rows: "3"} %>

	    </p>
	    <p><%= f.submit "Add Comment"%></p>
	  <% end %>

	 </div>
	</div>





